@using Atestados.Negocios.Negocios;
@using Atestados.Objetos.Dtos;

<div id="TipoPuntajeView">
    <div id="TipoPuntajeView">
        <label>Valor puntaje</label>
        <input class="form-control" type="number" placeholder="Valor" id="nombreRequisito" />
        <label>Descripcíon puntaje</label>
        <input class="form-control" type="text" placeholder="Descripcíon puntaje" id="nombreCriterio" />
    </div>
</div>

