@using Atestados.Negocios.Negocios;
@using Atestados.Objetos.Dtos;

<div id="Producto">
    <h3>Producto</h3>
    <table class="table">
        <tr>
            <td>
                <input class="form-control" type="text" placeholder="Nombre del Requisito" id="nombreCriterio" />
            </td>
            <td>
                <input class="form-control" type="text" placeholder="Descripcíon puntaje" id="nombreCriterio" />
            </td>
            <td><input class="form-control" type="number" placeholder="Valor" id="valor" /></td>         
        </tr>
    </table>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-primary" value="Agregar Requisito" form="nuevoCriterio" id="CriterioAgregar" />
    </div>
</div>

