@using Atestados.Negocios.Negocios;
@using Atestados.Objetos.Dtos;

<div id="TipoPuntajeView">
    <h3>Seleccion</h3>
    <table class="table">
        <tr>
            <td>
                <input class="form-control" type="text" placeholder="Descripcíon puntaje" id="DescripcionPuntaje" />
            </td>
            <td><input class="form-control" type="number" placeholder="Valor" id="valor" /></td>
        </tr>
    </table>
</div>
