@using Atestados.Negocios.Negocios;
@using Atestados.Objetos.Dtos;

    <div id="TipoPuntajeView">
        <label>Valor puntaje</label>
        <input class="form-control" type="number" placeholder="Valor" id="valorFijo" />
    </div>

